IndentWidth: 4
TabWidth: 4
ColumnLimit: 99
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
SpacesBeforeTrailingComments: 2
AccessModifierOffset: -4
PointerAlignment: Left
AlignTrailingComments: true
FixNamespaceComments: false
