# Checks: 'cppcoreguidelines-special-member-functions'
Checks: '-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
# FIXME: Adding `cppcoreguidelines` crashes clangd.
# cppcoreguidelines-*,
clang-analyzer-*,
misc-*,
-misc-unused-parameters,
-misc-const-correctness,
-misc-no-recursion'
