/third_party/mac-sysroot/
/third_party/linux-sysroot/
/third_party/win-sysroot/
/third_party/llvm-toolchain/
/third_party/libc++/
/third_party/libc++abi/
/third_party/llvm-libc/
/bin/
/out/

.cache/
__pycache__/

# TODO: Can we remove the need for this by timestamping inside the subfolders instead?
.libcxx.stamp
