[submodule "third_party/googletest/src"]
	path = third_party/googletest/src
	url = https://github.com/google/googletest
[submodule "third_party/miniz/src"]
	path = third_party/miniz/src
	url = https://github.com/richgel999/miniz
[submodule "third_party/libspng/src"]
	path = third_party/libspng/src
	url = https://github.com/randy408/libspng/
[submodule "third_party/spdlog/src"]
	path = third_party/spdlog/src
	url = https://github.com/gabime/spdlog
[submodule "third_party/libjpeg_turbo/src"]
	path = third_party/libjpeg_turbo/src
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "third_party/uni_algo/src"]
	path = third_party/uni_algo/src
	url = https://github.com/uni-algo/uni-algo
