[submodule "third_party/googletest/src"]
	path = third_party/googletest/src
	url = https://github.com/google/googletest
[submodule "third_party/miniz/src"]
	path = third_party/miniz/src
	url = https://github.com/richgel999/miniz
[submodule "third_party/libspng/src"]
	path = third_party/libspng/src
	url = https://github.com/randy408/libspng/
